<app-navbar-ar></app-navbar-ar>

<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="top">
      <div class="container">
        <div class="row mt-5" dir="rtl">
          <div class="restaurant">
            <div class="top">
              <h1><strong> ما هو Alaaz</strong></h1>
              <h4>{{ abouts.ArWhoIsAllaz }}</h4>
              <!-- <h4>
                احصل على المزيد من نمو الطلبات معنا لتصل إلى المزيد من العملاء
              </h4>
              <h4>و تحقيق النمو معنا</h4> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row text-center" dir="rtl">
          <h2 class="mt-5">من نحن</h2>
          <h5>{{ abouts.ArAboutUsContent }}</h5>
          <!-- <h5>
            تغيير عندما يوافق العميل على الشكل النهائي التصميم و استبدال النص
            والتصوص الاخرى و الملاحظات بالنصوص و الملاحظات بالاصليه عندما يوافق
            و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و
            الملاحظات بالاصليه و الملاحظات بالاصليه عندما يوافق و التصميم للموقع
            فسيتم استبدال الملاحظات بالاصليه عندما يوافق و التصميم للموقع فسيتم
            استبدال هذا النصوص
          </h5>
          <h5>
            سيتم تغيير عندما يوافق العميل على الشكل النهائي التصميم و استبدال
            هذا النص و التصوص الاخرى و الملاحظات بالنصوص و الملاحظات بالاصليه
            عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات
            بالنصوص و الملاحظات بالاصليه
          </h5> -->
        </div>
      </div>
    </section>

    <section id="information">
      <div class="container">
        <div class="row text-center" dir="rtl">
          <h2 class="my-5">معلومات عننا</h2>
          <h5>{{ abouts.ArOurInfo }}</h5>
          <!-- <h5>
            تغيير عندما يوافق العميل على الشكل النهائي التصميم التصوص الاخرى و
            الملاحظات بالنصوص و الملاحظات بالاصليه عندما يوافق و التصميم للموقع
            فسيتم استبدال هذا النصوص الملاحظات بالاصليه عندما يوافق التصميم
            للموقع فسيتم استبدال هذا النصوص
          </h5> -->
        </div>

        <div class="row mx-5" dir="rtl">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>سياسة خاصة</h5>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <button type="button" class="btn buttn px-5">اضغط</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>سياسة خاصة</h5>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <button type="button" class="btn buttn px-5">اضغط</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-5" dir="rtl">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>سياسة خاصة</h5>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <button type="button" class="btn buttn px-5">اضغط</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>سياسة خاصة</h5>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <p>
                    سيتم استبدال النصوص الملاحظات بالاصلي عندما يوافق العميل
                  </p>
                  <button type="button" class="btn buttn px-5">اضغط</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<app-endpage-ar></app-endpage-ar>
