<app-navbar-ar></app-navbar-ar>

<html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>

      <section id="top">
        <div class="container">
            <div class="row mt-5 text-center">
             <div class="restaurant"> </div>
             <h1 class="mt-5 fw-light">كيفية التأكد من تنظيف و سلامة التوصيل</h1>
            </div>
        </div>
      </section>

      <section id="course-info">
        <div class="container">
         <div class="course-info">
          <div class="row mt-5 py-3" dir="rtl">
            <div class="col-sm-3">
              <h6>دورة المبتدئين</h6> 
              <h6>دورة </h6>
            </div>
            <div class="col-sm-2">
              <h6>34 دقيقة</h6> 
              <h6>توقيت الدورة</h6>
            </div>
            <div class="col-sm-4">
              <h6>435 شخص</h6> 
              <h6>عدد الاشخاص</h6>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/lessons-ar']" routerLinkActive="router-link-active"> 
                <button type="button" class="btn butn px-lg-5 px-md-3 py-2">ابدأ الدورة</button> </a>
            </div>
          </div>
         </div>
        </div>
      </section>

      <section id="course-help">
        <div class="container">
          <div class="row mt-5" dir="rtl">
            <h3 class="">كيف ستساعدك هذه الدورة في حياتك المهنية</h3>
            <h5 class="my-3"> ما الذي سوف تتعلمة </h5>
            <ul class="mx-lg-5">
              <li> عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات</li>
              <li> عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي</li>
              <li> عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي  عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي </li>
              <li> عندما يوافق الملاحظات بالاصلي</li>
              <li> عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص </li>
              <li> عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="other-benefit" class="mt-5">
        <div class="container">
            <div class="row">
              <h3 class="my-5 text-center">كيف استفاد الآخرون</h3>

              <div class="row" dir="rtl">
                <div class=" col-lg-1">
                  <img src="assets/other.jpg" alt="">
                </div>
                <div class="col-lg-5">
                  <h6 class="mx-4">اسم الشخص ، البلد</h6>
                  <p class="mx-3">" عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي  عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي "</p>
                  <hr>
                </div>
              </div>

              <div class="row" dir="rtl">
                <div class=" col-lg-1">
                  <img src="assets/other.jpg" alt="">
                </div>
                <div class="col-lg-5">
                  <h6 class="mx-4">اسم الشخص ، البلد</h6>
                  <p class="mx-3">" عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي  عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي "</p>
                  <hr>
                </div>
              </div>

              <div class="row" dir="rtl">
                <div class=" col-lg-1">
                  <img src="assets/other.jpg" alt="">
                </div>
                <div class="col-lg-5">
                  <h6 class="mx-4">اسم الشخص ، البلد</h6>
                  <p class="mx-3">" عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي  عندما يوافق و التصميم للموقع فسيتم استبدال هذا النصوص , الملاحظات بالنصوص و الملاحظات بالاصلي "</p>
                  <hr>
                </div>
              </div>

            </div>
        </div>
      </section>

    </body>
</html>

<app-endpage-ar></app-endpage-ar>