<app-navbar></app-navbar>

<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="top">
      <div class="container">
        <div class="row mt-5">
          <div class="restaurant">
            <div class="top">
              <h1><strong> A About Alaaz</strong></h1>
              <h4>{{ abouts.EnWhoIsAllaz }}</h4>
              <!-- <h4>Get more orders growth with us reach more customers</h4>
              <h4>a and achive a growth with us</h4> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row text-center">
          <h2 class="mt-5">About US</h2>
          <h5>{{ abouts.EnAboutUsContent }}.</h5>
          <!-- <h5>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
            aperiam laboriosam architecto eos laudantium quae quia velit quidem
            esse, mollitia deleniti dicta voluptatem! Aliquid magni temporibus
            voluptatibus consectetur aliquam rem.quae quia velit quidem esse,
            mollitia deleniti dicta voluptatem! Aliquid magni temporibus
            voluptatibus consectetur aliquam rem.
          </h5>
          <h5>
            Lorem ipsum dolor sit amet aperiam laboriosam architecto eos
            laudantium quae quia velit quidem esse, mollitia deleniti dicta
            voluptatem! Aliquid magni temporibus voluptatibus consectetur
            aliquam rem.
          </h5> -->
        </div>
      </div>
    </section>

    <section id="information">
      <div class="container">
        <div class="row text-center">
          <h2 class="my-5">our Information</h2>
          <h5>
            {{ abouts.EnOurInfo }}
            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
            aperiam laboriosam architecto eos laudantium quae quia velit quidem
            esse, mollitia deleniti dicta voluptatem! Aliquid magni temporibus
            voluptatibus consectetur aliquam rem. -->
          </h5>
        </div>

        <div class="row mx-5">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>Privacy Policy</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <button type="button" class="btn buttn px-5">Button</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>Privacy Policy</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <button type="button" class="btn buttn px-5">Button</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-5">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>Privacy Policy</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <button type="button" class="btn buttn px-5">Button</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="information-card">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <h5>Privacy Policy</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <button type="button" class="btn buttn px-5">Button</button>
                </div>
                <div class="col-md-2">
                  <mat-icon class="about-icon">perm_media</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<app-endpage></app-endpage>
<!-- <pre>
  {{ abouts | json }}
</pre> -->
