<app-navbar></app-navbar>

<html>

    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>

      <section id="top">
        <div class="container">
            <div class="row mt-5">
             <div class="restaurant">
                <div class="top">
                  <h1> <strong> Cooking Master Class </strong> </h1>
                </div>
             </div>
            </div>
        </div>
      </section>

      <section>
          <div class="container">
              <div class="row mt-5">
                  <div class="col-lg-12">
                    <nav aria-label="breadcrumb" style="background-color: #f0f0f0; border-radius: 6px;">
                        <ol class="breadcrumb py-1 px-3">
                          <li class="breadcrumb-item">Home </li>
                          <li class="breadcrumb-item"><a href="#"> My Accout</a></li>
                          <li class="breadcrumb-item"> <a href="#"> Courses</a></li>
                        </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </section>

      <section class="courses">
        <div class="container">

            <div class="row mt-5">

                <div class="mt-4">
                    <h3>How to make sure that you clean the delivery pack</h3>
                </div>

                <hr>

                <div class="mt-3">
                    <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/RGt7m9aWxBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="course-inf mt-3">
                    <div class="row py-3 px-3">
                      <div class="col-sm-3">
                        <h6>Beginner Course</h6> 
                        <h6>Course</h6>
                      </div>
                      <div class="col-sm-2">
                        <h6>34 minutes</h6> 
                        <h6>Course Time</h6>
                      </div>
                      <div class="col-sm-4">
                        <h6>435 Personal</h6> 
                        <h6>number of people</h6>
                      </div>
                    </div>
                </div>  

                <div class="list">
                    <h4 class="mt-4">How This Course Will Help Your Career</h4>
                    <h5 class="mt-3">What you Will learn</h5>
                    <ul class="mt-3">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Sequi quam?</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum temporibus aliquam nesciunt numquam cupiditate.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ullam, voluptates pariatur iste cupiditate itaque, expedita, consequuntur illum impedit tempora ducimus recusandae? Sequi eius velit doloribus, quasi deleniti iusto tempora.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Sunt delectus nihil.</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                    </ul>
                </div>

                <div class="course">
                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: green;">play_circle_filled</mat-icon>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, eaque?</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5mins)</strong> </p>
                        </div>
                        <hr class="" style="background-color: #27691e; height: 1.5px;">
                    </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <div class="row">
                                <div class="col-lg-10 col-md-9">
                                    <h5 class="accordion-header mt-3" id="flush-headingOne">Lorem ipsum dolor sit amet consectetur.</h5>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        35 Comment </button>
                                </div>
                            </div>
                         
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="comment">
                                <div class="accordion-body">
                                    <h6><strong>Client Name</strong></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque inventore quia facere quasi dolorum magni consequatur, natus laudantium perspiciatis blanditiis id aliquid ab autem possimus exercitationem incidunt minus vitae non!</p>
                                </div>
                            </div>
                            <div class="coment">
                                <div class="accordion-body">
                                    <h6><strong>Client Name</strong></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque inventore quia facere quasi dolorum magni consequatur, natus laudantium perspiciatis blanditiis id aliquid ab autem possimus exercitationem incidunt minus vitae non!</p>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="accordion-body">
                                    <h6><strong>Client Name</strong></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque inventore quia facere quasi dolorum magni consequatur, natus laudantium perspiciatis blanditiis id aliquid ab autem possimus exercitationem incidunt minus vitae non!</p>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: green;">play_circle_filled</mat-icon>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, eaque?</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5mins)</strong> </p>
                        </div>
                        <hr class="" style="background-color: #27691e; height: 1.5px;">
                    </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="accordion-header mt-3" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                       Lorem ipsum dolor sit amet consectetur. </button></h5>
                                </div>
                            </div>
                         
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="">
                                <div class="accordion-body">
                                    <h5>0.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, tempore consequatur?</h5>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing. <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cupiditate ipsum, aut explicabo aperiam neque <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et ipsum ea. <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                            <hr>

                          </div>

                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="">
                                <div class="accordion-body">
                                    <h5>0.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, tempore consequatur?</h5>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing. <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cupiditate ipsum, aut explicabo aperiam neque <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et ipsum ea. <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                            <hr>

                          </div>

                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="">
                                <div class="accordion-body">
                                    <h5>0.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, tempore consequatur?</h5>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing. <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cupiditate ipsum, aut explicabo aperiam neque <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et ipsum ea. <br>
                                    <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>

                          </div>

                        </div>
                    </div>

                </div>
                
                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, eaque?</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5mins)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, eaque?</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5mins)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, eaque?</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5mins)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, eaque?</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5mins)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h4>Lessons in this Course Each</h4>
                    <h4 class="mt-3">Questions</h4>
                </div>
                <div class="container">
                    <div class="quiz-container">
                      <div class="quiz-title-wrapper">
                        <div class="icon">
                          <img src="assets/images/Vector.png" alt="icon" />
                        </div>
                        <div class="quiz-title">
                          <span class="number">0.1:</span>
                          <span class="title">{{ quiz?.Title }} </span>
                          <span class="time">(37 mins)</span>
                        </div>
                        <div class="quiz-time">( <span>1.5 mins</span> )</div>
                      </div>
                      <div class="quiz-body">
                        <div
                          class="toggle-questions"
                          (click)="toggle()"
                          [ngClass]="isShown ? 'togglecolor' : ''"
                        >
                          Show the questions related to this lesson
                          <i class="fa-solid fa-angle-up"></i>
                    
                        </div>
                        <form #f="ngForm" (ngSubmit)="submit(f.value)">
                          <div
                            class="questionswrapper"
                            [ngClass]="isShown ? 'active' : ''"
                            *ngFor="let question of quiz?.Questions; let i = index"
                          >
                            <div class="question">
                              <h4>
                                <span>{{ "0." + i }}</span>
                                <span class="question-title">
                                  {{ question?.Title }}
                                </span>
                              </h4>
                              <div class="mcq" *ngFor="let answer of question.Answers">
                                <div>
                                  <label for="{{ answer.Id }}">
                                    {{ answer.Text }}
                                    <input
                                      #inputfield
                                      (change)="saveAnswers(i, inputfield.value)"
                                      type="radio"
                                      id="{{ answer.Id }}"
                                      name="{{ 'ans' + question.Id }}"
                                      value="{{ answer.Id }}"
                                      class="form-control"
                                      ngModel
                                    />
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                       
                          </div>
                          <button class="button-3" role="button" type="submit">Send</button>
                      
                        </form>
                  
                        <!-- <pre>{{ f.value | json }}</pre> -->
                        <!-- <pre>
                    {{ savedAnswers }}
                  </pre> -->
                      </div>
                    </div>
                  </div>
                  
                <div class="course mt-3">

                    <div class="">
                        <h5>0.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, tempore consequatur?</h5>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing. <br>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cupiditate ipsum, aut explicabo aperiam neque <br>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et ipsum ea. <br>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>

                <div class="course mt-3">

                    <div class="">
                        <h5>0.2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, tempore consequatur?</h5>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing. <br>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cupiditate ipsum, aut explicabo aperiam neque <br>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et ipsum ea. <br>
                        <input type="radio" class="mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>

            </div>

        </div>
    </section>
   
    </body>
</html>

<app-endpage></app-endpage>
