.container {
  width: 100%;
}
.logo {
  width: 10rem;
  margin-right: 20rem;
}
.activ a {
  color: red;
}
a {
  color: #666;
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
}
nav {
  position: sticky;
  z-index: 1;
}
.nav-butn {
  background-color: #fff;
  color: #d10000;
  border-radius: 4px;
  border: 1px solid #d10000;
}
.nav-lang {
  background-color: #b81212;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #d10000;
}

/* ////////////////////////////////////////////////////////////// Responsive ////////////////////////////////////////////////////////////////// */
@media (min-width: 1200px) and (max-width: 1290px) {
  .logo {
    margin-right: 9rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .logo {
    margin-right: 6rem;
  }
  a {
    font-weight: 200;
    font-size: medium;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .logo {
    margin-right: 6rem;
  }
  .navbar-nav li a button {
    margin-top: 0.6rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .logo {
    margin-right: 0rem;
  }
  .navbar-nav li a button {
    margin-top: 0.6rem;
  }
}

@media (min-width: 377px) and (max-width: 575.98px) {
  .logo {
    margin-right: 0rem;
  }
  .navbar-nav li a button {
    margin-top: 0.6rem;
  }
}

@media (min-width: 260px) and (max-width: 376px) {
  .logo {
    margin-right: 0rem;
  }
  .navbar-nav li a button {
    margin-top: 0.6rem;
  }
}
