<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img class="logo" src="assets/logo.svg" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <li routerLinkActive="active" class="nav-item">
          <a href="#" class="mx-2">Home</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            class="mx-2"
            >About Alaaz</a
          >
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a
            [routerLink]="['/restaurant']"
            routerLinkActive="router-link-active"
            class="mx-2"
          >
            Become a Partner</a
          >
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a
            [routerLink]="['/delivery']"
            routerLinkActive="router-link-active"
            class="mx-2"
          >
            Join as a Driver
          </a>
        </li>
        <!-- 
        <li routerLinkActive="active" class="nav-item">
          <a
            [routerLink]="['/contact']"
            routerLinkActive="router-link-active"
            class="mx-2"
          >
            ContactUs
          </a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              style="font-size: 30px; margin: 0 2px"
              class="fa-solid fa-circle-user"
            ></i>
          </a> -->
        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> -->
        <!-- <li>
              <a
                [routerLink]="['/login']"
                routerLinkActive="router-link-active"
                class="mx-2"
                class="dropdown-item"
                href="#"
                >Login</a
              >
            </li> -->
        <!-- <li>
              <a
                [routerLink]="['/register']"
                routerLinkActive="router-link-active"
                class="mx-2"
                class="dropdown-item"
                href="#"
                >Register</a
              >
            </li> -->
        <!-- </ul> -->
        <!-- </li> -->

        <li routerLinkActive="active" class="nav-item">
          <a
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            class="mx-2"
          >
            <button class="nav-butn py-1">Login/Register</button>
          </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a
            [routerLink]="['/homepage-ar']"
            routerLinkActive="router-link-active"
            class="mx-2"
          >
            <button class="nav-lang py-1 px-2">العربية</button>
          </a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
