<app-navbar-ar></app-navbar-ar>

<html>

    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>

      <section id="top">
        <div class="container">
            <div class="row mt-5" dir="rtl">
             <div class="restaurant">
                <div class="top">
                  <h1> <strong> دروس الطبخ </strong> </h1>
                </div>
             </div>
            </div>
        </div>
      </section>

      <section>
          <div class="container">
              <div class="row mt-5" dir="rtl">
                  <div class="col-lg-12">
                    <nav aria-label="breadcrumb" style="background-color: #f0f0f0; border-radius: 6px;">
                        <ol class="breadcrumb py-1 px-3">
                          <li class="breadcrumb-item"> الرئيسية </li>
                          <li class="breadcrumb-item">/<a href="#"> حسابي</a></li>
                          <li class="breadcrumb-item"> <a href="#"> الدروس</a></li>
                        </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </section>

      <section class="courses">
        <div class="container">

            <div class="row mt-5" dir="rtl">

                <div class="mt-4">
                    <h3>كيفية التأكد من تنظيف و آمان التوصيل</h3>
                </div>

                <hr>

                <div class="mt-3">
                    <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/RGt7m9aWxBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="course-inf mt-3">
                    <div class="row py-3 px-3" dir="rtl">
                      <div class="col-sm-3">
                        <h6>درس المبتدئين</h6> 
                        <h6>درس</h6>
                      </div>
                      <div class="col-sm-2">
                        <h6>34 دقيقة</h6> 
                        <h6>وقت الدرس</h6>
                      </div>
                      <div class="col-sm-4">
                        <h6>435 الاشخاص</h6> 
                        <h6>عدد الاشخاص</h6>
                      </div>
                    </div>
                </div>  

                <div class="list">
                    <h4 class="mt-4">كيف ستساعدك هذه الدورة في حياتك المهنية</h4>
                    <h5 class="mt-3">ماذا ستتعلم</h5>
                    <ul class="mt-3">
                        <li>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل</li>
                        <li>يتم هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل</li>
                        <li>يتم هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل  هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل </li>
                        <li> هذا النص و النصوص الاخرى و الملاحظات عندما</li>
                        <li> هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل على التصميم يتم التغيير </li>
                        <li> هذا النص و النصوص الاخرى و الملاحظات عندما يوافق </li>
                    </ul>
                </div>

                <div class="course">
                    <div class="row" dir="rtl">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: green;">play_circle_filled</mat-icon> هذا النص و النصوص الاخرى و الملاحظات عندما يوافق العميل على التصميم يتم التغيير</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5دق)</strong> </p>
                        </div>
                        <hr class="" style="background-color: #27691e; height: 1.5px;">
                    </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <div class="row">
                                <div class="col-lg-10 col-md-9">
                                    <h5 class="accordion-header mt-3" id="flush-headingOne">سيتم تغيير هذا النص و النصوص الاخرى والملاحظات</h5>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         35 تعليق                                        </button>
                                </div>
                            </div>
                         
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="comment">
                                <div class="accordion-body">
                                    <h6><strong>اسم العميل</strong></h6>
                                    <p>سوف يتم تغيير هذا النص و النصوص الاخرى و الملاحظات الاخرى عندما يوافق العميل على التصميم يتم استبدالها بالنصوص الاصليهو لذلك هذا عباره عن نص و ملاحظات مؤقته الى ان يوافق العميل على التصميم و يعتمده</p>
                                </div>
                            </div>
                            <div class="coment">
                                <div class="accordion-body">
                                    <h6><strong>اسم العميل</strong></h6>
                                    <p>سوف يتم تغيير هذا النص و النصوص الاخرى و الملاحظات الاخرى عندما يوافق العميل على التصميم يتم استبدالها بالنصوص الاصليهو لذلك هذا عباره عن نص و ملاحظات مؤقته الى ان يوافق العميل على التصميم و يعتمده</p>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="accordion-body">
                                    <h6><strong>اسم العميل</strong></h6>
                                    <p>سوف يتم تغيير هذا النص و النصوص الاخرى و الملاحظات الاخرى عندما يوافق العميل على التصميم يتم استبدالها بالنصوص الاصليهو لذلك هذا عباره عن نص و ملاحظات مؤقته الى ان يوافق العميل على التصميم و يعتمده</p>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: green;">play_circle_filled</mat-icon>يتم تغيير هذا النص و النصوص و الملاحظات الاخرى بالاصليه عند موافقة العميل</p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5دق)</strong> </p>
                        </div>
                        <hr class="" style="background-color: #27691e; height: 1.5px;">
                    </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="accordion-header mt-3" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
   يتم تغيير هذا النص و النصوص الاخرى و الملاحظات                                      </button></h5>
                                </div>
                            </div>
                         
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="">
                                <div class="accordion-body">
                                    <h5>0.1 يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل</h5>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصليه <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل يتم تغيير هذا النص و النصوص الاخرى <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات
                                </div>
                            </div>
                            <hr>

                          </div>

                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="">
                                <div class="accordion-body">
                                    <h5>0.1 يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل</h5>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصليه <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل يتم تغيير هذا النص و النصوص الاخرى <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات
                                </div>
                            </div>
                            <hr>

                          </div>

                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="">
                                <div class="accordion-body">
                                    <h5>0.1 يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل</h5>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصليه <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل يتم تغيير هذا النص و النصوص الاخرى <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل <br>
                                    <input type="radio" class="mt-3"> يتم تغيير هذا النص و النصوص الاخرى و الملاحظات
                                </div>
                            </div>

                          </div>

                        </div>
                    </div>

                </div>
                
                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل </p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5دق)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل </p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5دق)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل </p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5دق)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="course mt-4">

                    <div class="row">
                        <div class="col-lg-11 col-md-10">
                            <p class=""> <mat-icon class="mx-2" style="color: #ffe600;">play_circle_filled</mat-icon>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات بالاصلية عند موافقة العميل </p>
                        </div>
                        <div class="col-lg-1 col-md-2">
                            <p class="my-2"> <strong>(1.5دق)</strong> </p>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h4>الدروس في هذه الدورة لكل منها</h4>
                    <h4 class="mt-3">الأسئلة</h4>
                </div>

                <div class="course mt-3">

                    <div class="">
                        <h5>0.1 سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل بناءً على موافقة العميل </h5>
                        <input type="radio" class="mt-3"> سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل <br>
                        <input type="radio" class="mt-3"> سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل بناءً على موافقة العميل  <br>
                        <input type="radio" class="mt-3"> على التصميم سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل بناءً على موافقة العميل <br>
                        <input type="radio" class="mt-3"> سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل
                    </div>
                </div>

                <div class="course mt-3">

                    <div class="">
                        <h5>0.2 سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل بناءً على موافقة العميل </h5>
                        <input type="radio" class="mt-3"> سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل <br>
                        <input type="radio" class="mt-3"> سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل بناءً على موافقة العميل  <br>
                        <input type="radio" class="mt-3"> على التصميم سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل بناءً على موافقة العميل <br>
                        <input type="radio" class="mt-3"> سيتم تغيير هذا النص والنصوص والملاحظات الأخرى إلى الأصل
                    </div>
                </div>

            </div>

        </div>
    </section>
   
    </body>
</html>

<app-endpage-ar></app-endpage-ar>
