<app-navbar-ar></app-navbar-ar>

<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <section id="top">
      <div class="container">
        <div class="row mt-5">
          <div class="restaurant"></div>
        </div>
      </div>
    </section>

    <section id="course">
      <div class="container">
        <div class="row text-center" dir="rtl">
          <h2 class="my-5">الأكاديمية / الدورات</h2>
          <h5 style="font-weight: 400">
            سيتم تغيير يوافق العميل على الشكل النهائي التصميم استبدال هذا النص و
            التصوص الاخرى و الملاحظات بالنصوص و الملاحظات بالاصليه سيتم تغيير
            يوافق العميل على الشكل النهائي التصميم استبدال هذا النص و التصوص
            الاخرى و الملاحظات بالنصوص و الملاحظات بالاصليه
          </h5>
        </div>
        <div class="row mx-5 mt-5">
          <div
            class="col-lg-4 - course-card"
            *ngFor="let course of courses; let i = index"
          >
            <div class="row mx-6 mt-5" dir="rtl">
              <div class="card course-content">
                <img
                  src="http://projectegy-002-site6.gtempurl.com/Content/Images/Categories/{{courses[i].CourseImageUrl}}"
                  class="card-img-top"
                />
                <div class="card-body">
                  <div class="row" dir="rtl">
                    <div class="col-sm-5">
                      <h6>
                        <mat-icon>file_copy</mat-icon> دروس
                        <strong>{{ courses[i].LessonsCount }} </strong>
                      </h6>
                    </div>
                    <div class="col-sm-7">
                      <h6>
                        <mat-icon>access_alarm</mat-icon> المدة :
                        <strong>35د</strong>
                      </h6>
                    </div>
                  </div>

                  <h5 class="card-title mt-2">
                    {{ courses[i]?.ArCourseTitle }}
                  </h5>
                  <p class="card-text">
                    {{ courses[i].ArCourseDiscription }}
                    <!-- بعض الأمثلة السريعة للنصوص للبناء على عنوان البطاقة وتشكيل
                    الجزء الأكبر من عنوان محتوى البطاقة وتشكيل الجزء الأكبر. -->
                  </p>

                  <a
                    [routerLink]="['/confirm-ar']"
                    routerLinkActive="router-link-active"
                    class="btn course-btn m-lg-auto"
                    >ابدأ الآن</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-4 course-card">
            <div class="card course-content">
              <img src="assets/breakfast.jpg" class="card-img-top" />
              <div class="card-body">
                <div class="row" dir="rtl">
                  <div class="col-sm-5">
                    <h6>
                      <mat-icon>file_copy</mat-icon> دروس <strong>12</strong>
                    </h6>
                  </div>
                  <div class="col-sm-7">
                    <h6>
                      <mat-icon>access_alarm</mat-icon> المدة :
                      <strong>35د</strong>
                    </h6>
                  </div>
                </div>
                <h5 class="card-title mt-2">اسم الدورة</h5>
                <p class="card-text">
                  بعض الأمثلة السريعة للنصوص للبناء على عنوان البطاقة وتشكيل
                  الجزء الأكبر من عنوان محتوى البطاقة وتشكيل الجزء الأكبر.
                </p>
                <a
                  [routerLink]="['/confirm']"
                  routerLinkActive="router-link-active"
                  class="btn course-btn"
                  >ابدأ الآن</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 course-card">
            <div class="card course-content">
              <img src="assets/breakfast.jpg" class="card-img-top" />
              <div class="card-body">
                <div class="row" dir="rtl">
                  <div class="col-sm-5">
                    <h6>
                      <mat-icon>file_copy</mat-icon> دروس <strong>12</strong>
                    </h6>
                  </div>
                  <div class="col-sm-7">
                    <h6>
                      <mat-icon>access_alarm</mat-icon> المدة :
                      <strong>35د</strong>
                    </h6>
                  </div>
                </div>
                <h5 class="card-title mt-2">اسم الدورة</h5>
                <p class="card-text">
                  بعض الأمثلة السريعة للنصوص للبناء على عنوان البطاقة وتشكيل
                  الجزء الأكبر من عنوان محتوى البطاقة وتشكيل الجزء الأكبر.
                </p>
                <a
                  [routerLink]="['/confirm']"
                  routerLinkActive="router-link-active"
                  class="btn course-btn"
                  >ابدأ الآن</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-5 mt-4" dir="rtl">
          <div class="col-lg-4 course-card">
            <div class="card course-content">
              <img src="assets/breakfast.jpg" class="card-img-top" />
              <div class="card-body">
                <div class="row" dir="rtl">
                  <div class="col-sm-5">
                    <h6>
                      <mat-icon>file_copy</mat-icon> دروس <strong>12</strong>
                    </h6>
                  </div>
                  <div class="col-sm-7">
                    <h6>
                      <mat-icon>access_alarm</mat-icon> المدة :
                      <strong>35د</strong>
                    </h6>
                  </div>
                </div>
                <h5 class="card-title mt-2">اسم الدورة</h5>
                <p class="card-text">
                  بعض الأمثلة السريعة للنصوص للبناء على عنوان البطاقة وتشكيل
                  الجزء الأكبر من عنوان محتوى البطاقة وتشكيل الجزء الأكبر.
                </p>
                <a
                  [routerLink]="['/confirm']"
                  routerLinkActive="router-link-active"
                  class="btn course-btn"
                  >ابدأ الآن</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 course-card">
            <div class="card course-content">
              <img src="assets/breakfast.jpg" class="card-img-top" />
              <div class="card-body">
                <div class="row" dir="rtl">
                  <div class="col-sm-5">
                    <h6>
                      <mat-icon>file_copy</mat-icon> دروس <strong>12</strong>
                    </h6>
                  </div>
                  <div class="col-sm-7">
                    <h6>
                      <mat-icon>access_alarm</mat-icon> المدة :
                      <strong>35د</strong>
                    </h6>
                  </div>
                </div>
                <h5 class="card-title mt-2">اسم الدورة</h5>
                <p class="card-text">
                  بعض الأمثلة السريعة للنصوص للبناء على عنوان البطاقة وتشكيل
                  الجزء الأكبر من عنوان محتوى البطاقة وتشكيل الجزء الأكبر.
                </p>
                <a
                  [routerLink]="['/confirm']"
                  routerLinkActive="router-link-active"
                  class="btn course-btn"
                  >ابدأ الآن</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 course-card">
            <div class="card course-content">
              <img src="assets/breakfast.jpg" class="card-img-top" />
              <div class="card-body">
                <div class="row" dir="rtl">
                  <div class="col-sm-5">
                    <h6>
                      <mat-icon>file_copy</mat-icon> دروس <strong>12</strong>
                    </h6>
                  </div>
                  <div class="col-sm-7">
                    <h6>
                      <mat-icon>access_alarm</mat-icon> المدة :
                      <strong>35د</strong>
                    </h6>
                  </div>
                </div>
                <h5 class="card-title mt-2">اسم الدورة</h5>
                <p class="card-text">
                  بعض الأمثلة السريعة للنصوص للبناء على عنوان البطاقة وتشكيل
                  الجزء الأكبر من عنوان محتوى البطاقة وتشكيل الجزء الأكبر.
                </p>
                <a
                  [routerLink]="['/confirm']"
                  routerLinkActive="router-link-active"
                  class="btn course-btn"
                  >ابدأ الآن</a
                >
              </div>
            </div>
          </div> -->
        </div>
        <div class="text-center">
          <button type="button" class="btn butn mx-4 px-5 py-2 mt-5">
            المزيد من الدروات
          </button>
        </div>
      </div>
    </section>
  </body>
</html>

<app-endpage-ar></app-endpage-ar>
