<app-navbar-ar></app-navbar-ar>

<html>

    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>

      <section id="top">
        <div class="container">
            <div class="row mt-5">
             <div class="restaurant">
                <div class="top">
                  <h1> <strong> Cooking Master Class </strong> </h1>
                </div>
             </div>
            </div>
        </div>
      </section>

      <section>
          <div class="container">
              <div class="row mt-5" dir="rtl">
                  <div class="col-lg-12">
                    <nav aria-label="breadcrumb" style="background-color: #f0f0f0; border-radius: 6px;">
                        <ol class="breadcrumb py-1 px-3">
                          <li class="breadcrumb-item">الرئيسية  </li>
                          <li class="breadcrumb-item">/<a href="#"> حسابي </a></li>
                          <li class="breadcrumb-item"> <a href="#"> المحفظة </a></li>
                        </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </section>

      <section class="courses">
        <div class="container">

            <div class="row mt-5 mx-5" dir="rtl">

                <div class=" mt-4">
                    <h3>محفظتي</h3>
                </div>
              
            </div>

            <hr>

            <div class="row mt-3" dir="rtl">
                <div class="col-md-6 col-sm-12">
                    <div class="balance">
                        <h6>الرصيد الحالي</h6>
                        <h5>500 ريال</h5>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="balance">
                        <h6>عدد النقاط</h6>
                        <h5>450 نقطة</h5>
                    </div>
                </div>
            </div>

            <div class="refer mt-4">
                <div class="row" dir="rtl">

                  <div class="col-lg-3 col-md-4">
                      <div class="course-photo">
                        <img src="assets/win.jpg" alt="">
                      </div>
                  </div>

                  <div class="col-lg-9 col-md-8 mt-3">
                      <h5>الرجوع إلى الأصدقاء</h5>
                      <p>يتم تغيير هذا النص و النصوص الاخرى والملاحظات عندما يوافق العميل على التصميم و يقتنع به</p>
                      <div class="row mt-5" dir="rtl">
                          <div class="col-lg-5">
                              <h4> رمز الرجوع </h4>
                          </div>
                          <div class="col-lg-3">
                              <h6> مشاركة الكود بإستخدام </h6>
                          </div>
                          <div class="col-lg-1"></div>
                          <div class="col-lg-1"></div>
                          <div class="col-lg-1"></div>
                      </div>
                  </div>

                </div>
            </div>

            <div class="course mt-4">
                <div class="row" dir="rtl">
                    <h5>استبدال الرمز</h5>
                    <p>يتم تغيير هذا النص و النصوص الاخرى والملاحظات الاخرى عندما يوافق العميل على التصميم و يقتنع به</p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input type="text" placeholder="ادخال الرمز " style="width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <button class="btn butn rounded mx-lg-2 px-2 text-center"> استبدال كرصيد </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn butn rounded mx-lg-2 px-2 text-center">  استبدال كنقاط </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="course mt-4">
                <div class="row" dir="rtl">
                    <h5>معلومات عن النقاط</h5>
                    <p>يتم تغيير هذا النص و النصوص الاخرى والملاحظات الاخرى عندما يوافق العميل على التصميم و يقتنع به</p>
                </div>
            </div>


        </div>
    </section>
   
    </body>
</html>

<app-endpage-ar></app-endpage-ar>
