<app-navbar></app-navbar>

<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="top">
      <div class="container">
        <div class="row mt-5 text-center">
          <div class="restaurant"></div>
          <h1 class="mt-5 fw-light">
            how to make sure that you clean the delivery pack
          </h1>
        </div>
      </div>
    </section>

    <section id="course-info">
      <div class="container"
      >
        <div class="course-info">
          <div class="row mt-5 py-3">
            <div class="col-sm-3">
              <h6>Beginner Course</h6>
              <h6>Course</h6>
            </div>
            <div class="col-sm-2">
              <h6>34 minutes</h6>
              <h6>Course Time</h6>
            </div>
            <div class="col-sm-4">
              <h6>435 Personal</h6>
              <h6>number of people</h6>
            </div>
            <div class="col-sm-3">
              <a
             
                [routerLink]="['/lessons']"
                routerLinkActive="router-link-active"
              >
                <button type="button" class="btn butn px-lg-5 px-md-3 py-2">
                  Start course
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="course-help">
      <div class="container">
        <div class="row mt-5">
          <h3 class="">How This Course will help your career</h3>
          <h5 class="my-3">What You will Learn</h5>
          <ul class="mx-lg-5">
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe?
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in
              nemo temporibus molestias!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              nostrum facilis illo molestiae soluta iusto consectetur similique
              magnam quas natus consequatur, voluptate ab corporis veniam
              dignissimos amet, consequuntur corrupti in.
            </li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>
              Lorem ipsum dolor sit amet consectetur elit. Eos in nemo
              temporibus molestias!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe?
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="other-benefit" class="mt-5">
      <div class="container">
        <div class="row">
          <h3 class="my-5 text-center">How Others Have Benefited</h3>

          <div class="row">
            <div class="offset-lg-3 col-lg-1">
              <img src="assets/other.jpg" alt="" />
            </div>
            <div class="col-lg-5">
              <h6 class="mx-4">name of person,countary</h6>
              <p class="mx-3">
                "Lorem ipsum dolor sit amet consectetur Asperiores quidem
                numquam. Sint aliquid quas nam quaerat? Provident earum
                reprehenderit, magnam facere blanditiis iure natus itaque quo
                quae adipisci quia?"
              </p>
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="offset-lg-3 col-lg-1">
              <img src="assets/other.jpg" alt="" />
            </div>
            <div class="col-lg-5">
              <h6 class="mx-4">name of person,countary</h6>
              <p class="mx-3">
                "Lorem ipsum dolor sit amet consectetur Asperiores quidem
                numquam. Sint aliquid quas nam quaerat? Provident earum
                reprehenderit, magnam facere blanditiis iure natus itaque quo
                quae adipisci quia?"
              </p>
              <hr />
            </div>
          </div>

          <div class="row mb-5">
            <div class="offset-lg-3 col-lg-1">
              <img src="assets/other.jpg" alt="" />
            </div>
            <div class="col-lg-5">
              <h6 class="mx-4">name of person,countary</h6>
              <p class="mx-3">
                "Lorem ipsum dolor sit amet consectetur Asperiores quidem
                numquam. Sint aliquid quas nam quaerat? Provident earum
                reprehenderit, magnam facere blanditiis iure natus itaque quo
                quae adipisci quia?"
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<app-endpage></app-endpage>
