<app-navbar-ar></app-navbar-ar>

<html>

    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>

      <section id="top">
        <div class="container">
            <div class="row mt-5" dir="rtl">
             <div class="restaurant">
                <div class="top">
                  <h1> <strong> دروس الطبخ </strong> </h1>
                </div>
             </div>
            </div>
        </div>
      </section>

      <section>
          <div class="container">
              <div class="row mt-5" dir="rtl">
                  <div class="col-lg-12">
                    <nav aria-label="breadcrumb" style="background-color: #f0f0f0; border-radius: 6px;">
                        <ol class="breadcrumb py-1 px-3">
                          <li class="breadcrumb-item">الرئيسية</li>
                          <li class="breadcrumb-item"> / <a href="#"> حسابي </a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="#">الدروس</a></li>
                        </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </section>
   
      <section class="courses">
          <div class="container">

              <div class="row mt-5 mx-5" dir="rtl">
                  <div class="col-lg-6 mt-4">
                      <h3>الدروس</h3>
                  </div>
                  <div class="col-lg-4 mt-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>ترتيب حسب : الاختيار</option>
                        <option value="1">الاول</option>
                        <option value="2">الثاني</option>
                        <option value="3">الثالث</option>
                      </select>
                  </div>
                  <div class="col-lg-2 mt-4">
                      <button class="btn butn rounded mx-lg-4 mx-sm-2 px-5 text-center"> الدروس </button>
                  </div>
              </div>

              <hr>

              <div class="course">
                  <div class="row" dir="rtl">

                    <div class="col-lg-2 col-md-4">
                        <div class="course-photo">
                          <img src="assets/breakfast.jpg" alt="">
                        </div>
                    </div>
  
                    <div class="col-lg-10 col-md-8 mt-2">
                        <h5>اسم الدرس</h5>
                        <p>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق على التصميم الاصلي و الملاحظات</p>
                        <div class="row">
                            <div class="col-md-4">
                                <h6> <mat-icon class="icon">file_copy</mat-icon> دروس <strong>12</strong> </h6>
                            </div>
                            <div class="col-md-8">
                                <h6> <mat-icon class="icon">access_alarm</mat-icon> المدة <strong>35دقيقة</strong> </h6>
                            </div>
                        </div>
                    </div>

                  </div>
              </div>

            <div class="course mt-3">
                <div class="row" dir="rtl">

                  <div class="col-lg-2 col-md-4">
                      <div class="course-photo">
                        <img src="assets/breakfast.jpg" alt="">
                      </div>
                  </div>

                  <div class="col-lg-10 col-md-8 mt-2">
                      <h5>اسم الدرس</h5>
                      <p>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق على التصميم الاصلي و الملاحظات</p>
                      <div class="row">
                          <div class="col-md-4">
                              <h6> <mat-icon class="icon">file_copy</mat-icon> دروس <strong>12</strong> </h6>
                          </div>
                          <div class="col-md-8">
                              <h6> <mat-icon class="icon">access_alarm</mat-icon> المدة <strong>35دقيقة</strong> </h6>
                          </div>
                      </div>
                  </div>

                </div>
            </div>

            <div class="course mt-3">
                <div class="row" dir="rtl">

                  <div class="col-lg-2 col-md-4">
                      <div class="course-photo">
                        <img src="assets/breakfast.jpg" alt="">
                      </div>
                  </div>

                  <div class="col-lg-10 col-md-8 mt-2">
                      <h5>اسم الدرس</h5>
                      <p>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق على التصميم الاصلي و الملاحظات</p>
                      <div class="row">
                          <div class="col-md-4">
                              <h6> <mat-icon class="icon">file_copy</mat-icon> دروس <strong>12</strong> </h6>
                          </div>
                          <div class="col-md-8">
                              <h6> <mat-icon class="icon">access_alarm</mat-icon> المدة <strong>35دقيقة</strong> </h6>
                          </div>
                      </div>
                  </div>

                </div>
            </div>

            <div class="course mt-3">
                <div class="row" dir="rtl">

                  <div class="col-lg-2 col-md-4">
                      <div class="course-photo">
                        <img src="assets/breakfast.jpg" alt="">
                      </div>
                  </div>

                  <div class="col-lg-10 col-md-8 mt-2">
                      <h5>اسم الدرس</h5>
                      <p>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق على التصميم الاصلي و الملاحظات</p>
                      <div class="row">
                          <div class="col-md-4">
                              <h6> <mat-icon class="icon">file_copy</mat-icon> دروس <strong>12</strong> </h6>
                          </div>
                          <div class="col-md-8">
                              <h6> <mat-icon class="icon">access_alarm</mat-icon> المدة <strong>35دقيقة</strong> </h6>
                          </div>
                      </div>
                  </div>

                </div>
            </div>

            <div class="course mt-3">
                <div class="row" dir="rtl">

                  <div class="col-lg-2 col-md-4">
                      <div class="course-photo">
                        <img src="assets/breakfast.jpg" alt="">
                      </div>
                  </div>

                  <div class="col-lg-10 col-md-8 mt-2">
                      <h5>اسم الدرس</h5>
                      <p>يتم تغيير هذا النص و النصوص الاخرى و الملاحظات عندما يوافق على التصميم الاصلي و الملاحظات</p>
                      <div class="row">
                          <div class="col-md-4">
                              <h6> <mat-icon class="icon">file_copy</mat-icon> دروس <strong>12</strong> </h6>
                          </div>
                          <div class="col-md-8">
                              <h6> <mat-icon class="icon">access_alarm</mat-icon> المدة <strong>35دقيقة</strong> </h6>
                          </div>
                      </div>
                  </div>

                </div>
            </div>

          </div>
      </section>

    </body>
</html>

<app-endpage-ar></app-endpage-ar>