<app-navbar></app-navbar>

<html>

    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>

      <section id="top">
        <div class="container">
            <div class="row mt-5">
             <div class="restaurant">
                <div class="top">
                  <h1> <strong> Cooking Master Class </strong> </h1>
                </div>
             </div>
            </div>
        </div>
      </section>

      <section>
          <div class="container">
              <div class="row mt-5">
                  <div class="col-lg-12">
                    <nav aria-label="breadcrumb" style="background-color: #f0f0f0; border-radius: 6px;">
                        <ol class="breadcrumb py-1 px-3">
                          <li class="breadcrumb-item">Home  </li>
                          <li class="breadcrumb-item"><a href="#"> My Accout</a></li>
                          <li class="breadcrumb-item"> <a href="#">  My Wallet</a></li>
                        </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </section>

      <section class="courses">
        <div class="container">

            <div class="row mt-5 mx-5">

                <div class=" mt-4">
                    <h3>My Wallet</h3>
                </div>
              
            </div>

            <hr>

            <div class="row mt-3">
                <div class="col-md-6 col-sm-12">
                    <div class="balance">
                        <h6>My Total Balance</h6>
                        <h5>500 SR</h5>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="balance">
                        <h6>My Total Points</h6>
                        <h5>450 Points</h5>
                    </div>
                </div>
            </div>

            <div class="refer mt-4">
                <div class="row">

                  <div class="col-lg-3 col-md-4">
                      <div class="course-photo">
                        <img src="assets/win.jpg" alt="">
                      </div>
                  </div>

                  <div class="col-lg-9 col-md-8 mt-3">
                      <h5>Refer To Friends</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. in laudantium impedit a quibusdam.</p>
                      <div class="row mt-5">
                          <div class="col-lg-5">
                              <h4> Code Refer </h4>
                          </div>
                          <div class="col-lg-3">
                              <h6> Share The Code Using By </h6>
                          </div>
                          <div class="col-lg-1"></div>
                          <div class="col-lg-1"></div>
                          <div class="col-lg-1"></div>
                      </div>
                  </div>

                </div>
            </div>

            <div class="course mt-4">
                <div class="row ">
                    <h5>Redeem Your Code</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.cupiditate ad! Natus ea magnam voluptatem nisi sit.</p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input type="text" placeholder="Enter Your Promo Code" style="width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <button class="btn butn rounded mx-lg-2 px-2 text-center"> Redeem As Balance </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn butn rounded mx-lg-2 px-2 text-center">  Redeem As Points </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="course mt-4">
                <div class="row">
                    <h5>Points Information</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.cupiditate ad! Natus ea magnam voluptatem nisi sit.</p>
                </div>
            </div>


        </div>
    </section>
   
    </body>
</html>

<app-endpage></app-endpage>
